Source: knights
Section: games
Priority: optional
Maintainer: Debian KDE Extras Team <pkg-kde-extras@lists.alioth.debian.org>
Uploaders: José Manuel Santamaría Lema <panfaust@gmail.com>
Build-Depends: debhelper (>= 7), cdbs, pkg-kde-tools, cmake, kdelibs5-dev,
 libkdegames-dev
Standards-Version: 3.7.2
Homepage: http://kde-apps.org/content/show.php/Knights?content=122046

Package: knights
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: gnuchess | crafty | sjeng, knights-themepack
Description: A chess interface for the K Desktop Environment
 Knights aims to be the ultimate chess resource on your computer. 
 Written for the K Desktop Environment, it's designed to be both friendly 
 to new chess players and functional for Grand Masters.
